.article{
    margin: 7% 10%;
}

.date{
    float: right;
    font-size: 22px;
}

.mainImg{
    margin: 30px 0 0 20px;
    display: block;
    box-shadow: 1px 4px 20px grey;
}

.articleTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.articleTitle h1{
    font-size: 46px;
    margin: 0 auto; 
}
.articleTitle p{
    font-size: 24px;
}

.topPage{
    display: flex;
    margin: 2% 4%;
    width: 95%;
}

.picDescription{
    display: flex;
    justify-content: space-around;
}
.picDescription p{
    font-size: 18px;
    margin:  3% 3%;
}

.articleBodyDisplay{
    font-size: 24px; 
    margin: 0 3%; 
}

.loader{
    font-size: 28px;
    margin: 20%;
}

@media (max-width: 1300px){
    .date{
        font-size: 16px; 
    }

    .articleTitle h1{
        font-size: 38px; 
    }
    .articleTitle p{
        font-size: 20px;  
    }

    .picDescription p{
        font-size: 14px; 
    }
    
    .articleBodyDisplay{
        font-size: 16px; 
    }

}

@media (max-width: 1100px){
    .date{
        font-size: 14px; 
    }

    .articleTitle h1{
        font-size: 32px; 
    }
    .articleTitle p{
        font-size: 18px; 
    }

    .picDescription p{
        font-size: 12px;
    }
    
    .articleBodyDisplay{
        font-size: 14px;
        margin: 0 4%;
    }

}

@media (max-width: 800px){
    .date{
        font-size: 12px;
    }

    .articleTitle h1{
        font-size: 26px;
    }
    .articleTitle p{
        font-size: 14px;
    }

    .picDescription p{
        font-size: 10px; 
    }
    
    .articleBodyDisplay{
        font-size: 12px;
    }

}

@media (max-width: 450px){
    .date{
        font-size: 10px;
    }

    .articleTitle h1{
        font-size: 18px;
        margin-top: 3%;
    }
    .articleTitle p{
        font-size: 12px;
    }

    .picDescription p{
        font-size: 8px;
    }
    
    .articleBodyDisplay{
        font-size: 10px;
        margin: 0 5%;
    }

    .topPage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainImg{
        margin: 0 0;
    }

}